<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Article</title>
</head>
<body>
<h1>게시글 작성</h1>
  <form action="/articles/{{ article.pk }}/update/">
    <input type="text" name="title" value="{{ article.title }}"><br>
    <textarea name="content" cols="30" rows="10">{{ article.content }}</textarea><br>
    <button type="submit">수정하기</button>
    <a href="/articles/">뒤로 가기</a>
  </form>
</body>
</html>